<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Stylesheet by https://anupammondal.in -->
    <link rel="stylesheet" href="../content/css/style.css">
    <title>STOPIDO Delivery Address - Only Quality</title>
</head>

<body>
    <header>
        <div class="container px-sm-0">
            <nav class="navbar navbar-expand-lg navbar-light container px-sm-0">
                <a class="navbar-brand py-0" href="../">
                    <img src="../content/photo/stopido_only_quality_brand_logo.png" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="cart.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="customer_profile.html">Account Details</a>
                                <a class="dropdown-item" href="orders.html">Order History</a>
                                <a class="dropdown-item" href="wishlist.html">Wishlist</a>
                                <a class="dropdown-item" href="adresses.html">Adresses</a>
                                <a class="dropdown-item" href="cart.html">Cart</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer.html">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <p class="h5">Manage Your Delivery Addresses</p>
                            <p class="text-stopido">
                                <small>Is the address you'd like to display below? If so, click the corresponding
                                    "Delivery to this Address" button. Or you can enter <a href="address.html" class="card-link">a
                                        new delivery address</a>.</small>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="card border-dark mb-3">
                                <div class="card-body">
                                    <address>
                                        <strong>Twitter, Inc.</strong><br>
                                        1355 Market St, Suite 900<br>
                                        San Francisco, CA 94103<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>
                                    <a href="cart.html" class="btn btn-block btn-warning shadow-none my-2">Delivery to this
                                        Address</a>
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="" class="btn btn-block btn-light shadow-none my-2">Edit</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-block btn-light shadow-none my-2">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <address>
                                        <strong>Twitter, Inc.</strong><br>
                                        1355 Market St, Suite 900<br>
                                        San Francisco, CA 94103<br>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>
                                    <a href="cart.html" class="btn btn-block btn-warning shadow-none my-2">Delivery to this
                                        Address</a>
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="" class="btn btn-block btn-light shadow-none my-2">Edit</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="" class="btn btn-block btn-light shadow-none my-2">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card border-0">
                                <div class="card-body text-center">
                                    <!-- <p class="mb-0">
                                        Total ₹<span>325</span> for <span>5</span> Items
                                    </p> -->
                                    <p class="text-center my-4">
                                        <a href="addresses.html" class="card-link shadow-none my-4 px-4">Select your Payment Method to complete the purchase</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="h5">Sponsored Items</p>
                    <hr class="my-2">
                    <div class="card my-1">
                        <div class="row no-gutters">
                            <div class="col-md-4 py-4">
                                <img src="https://images.pexels.com/photos/5437784/pexels-photo-5437784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=150"
                                    class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body py-2">
                                    <p class="card-title mb-0">Organic ghee</p>
                                    <p class="card-title text-warning h4 mb-0">
                                        <small>
                                            <span>★★★★☆</span>
                                            <span>
                                                <small class="text-primary">255</small>
                                            </span>
                                        </small>
                                    </p>
                                    <p class="card-text mb-2">
                                        <span>Price : </span>
                                        <span>₹</span>
                                        <span>65</span>
                                    </p>
                                    <a href="product.html" class="card-link shadow-none my-2">
                                        <small>Add to cart</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1">
                        <div class="row no-gutters">
                            <div class="col-md-4 py-4">
                                <img src="https://images.pexels.com/photos/5437880/pexels-photo-5437880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=150"
                                    class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body py-2">
                                    <p class="card-title mb-0">Organic ghee</p>
                                    <p class="card-title text-warning h4 mb-0">
                                        <small>
                                            <span>★★★★☆</span>
                                            <span>
                                                <small class="text-primary">255</small>
                                            </span>
                                        </small>
                                    </p>
                                    <p class="card-text mb-2">
                                        <span>Price : </span>
                                        <span>₹</span>
                                        <span>65</span>
                                    </p>
                                    <a href="product.html" class="card-link shadow-none my-2">
                                        <small>Add to cart</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1">
                        <div class="row no-gutters">
                            <div class="col-md-4 py-4">
                                <img src="https://images.pexels.com/photos/5437777/pexels-photo-5437777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=150"
                                    class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body py-2">
                                    <p class="card-title mb-0">Organic ghee</p>
                                    <p class="card-title text-warning h4 mb-0">
                                        <small>
                                            <span>★★★★☆</span>
                                            <span>
                                                <small class="text-primary">255</small>
                                            </span>
                                        </small>
                                    </p>
                                    <p class="card-text mb-2">
                                        <span>Price : </span>
                                        <span>₹</span>
                                        <span>65</span>
                                    </p>
                                    <a href="product.html" class="card-link shadow-none my-2">
                                        <small>Add to cart</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1">
                        <div class="row no-gutters">
                            <div class="col-md-4 py-4">
                                <img src="https://images.pexels.com/photos/5437773/pexels-photo-5437773.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=150"
                                    class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body py-2">
                                    <p class="card-title mb-0">Organic ghee</p>
                                    <p class="card-title text-warning h4 mb-0">
                                        <small>
                                            <span>★★★★☆</span>
                                            <span>
                                                <small class="text-primary">255</small>
                                            </span>
                                        </small>
                                    </p>
                                    <p class="card-text mb-2">
                                        <span>Price : </span>
                                        <span>₹</span>
                                        <span>65</span>
                                    </p>
                                    <a href="product.html" class="card-link shadow-none my-2">
                                        <small>Add to cart</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="h4 pl-4">Shop popular categories in STOPIDO</p>
                    <!-- <hr class="w-25"> -->
                </div>
                <div class="col-12">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="customer.html">
                                <div class="card border-0 shadow-sm">
                                    <img src="https://images.pexels.com/photos/1582481/pexels-photo-1582481.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=180"
                                        class="card-img-top" alt="...">
                                    <div class="card-body py-0">
                                        <p class="card-title text-center h6 my-1">Namkeen & Snacks</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer.html">
                                <div class="card border-0 shadow-sm">
                                    <img src="https://images.pexels.com/photos/162786/ingredients-butter-cheese-cookies-162786.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=180"
                                        class="card-img-top" alt="...">
                                    <div class="card-body py-0">
                                        <p class="card-title text-center h6 my-1">Dairy Products</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer.html">
                                <div class="card border-0 shadow-sm">
                                    <img src="https://images.pexels.com/photos/1417945/pexels-photo-1417945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=180"
                                        class="card-img-top" alt="...">
                                    <div class="card-body py-0">
                                        <p class="card-title text-center h6 my-1">Tea Products</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer.html">
                                <div class="card border-0 shadow-sm">
                                    <img src="https://images.pexels.com/photos/1872900/pexels-photo-1872900.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=180"
                                        class="card-img-top" alt="...">
                                    <div class="card-body py-0">
                                        <p class="card-title text-center h6 my-1">Honey</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customer.html">
                                <div class="card border-0 shadow-sm">
                                    <img src="https://images.pexels.com/photos/1269040/pexels-photo-1269040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=180"
                                        class="card-img-top" alt="...">
                                    <div class="card-body py-0">
                                        <p class="card-title text-center h6 my-1">Papad</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="fixed-bottom bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-center my-3">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="customer.html">
                                <span class="h4">🍟</span>
                                Namkeen & Snacks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="customer.html">
                                <span class="h4">🐮</span>
                                Dairy Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="customer.html">
                                <span class="h4">☕</span>
                                Tea Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="customer.html">
                                <span class="h4">🍯</span>
                                Honey
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="customer.html">
                                <span class="h4">🍪</span>
                                Papad
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light py-4 mb-5">
        <div class="container">
            <div class="row my-5">
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li>
                            <a href="../" class="card-link text-dark">Home</a>
                        </li>
                        <li>
                            <a href="partners.html" class="card-link text-dark">Become Partner</a>
                        </li>
                        <li>
                            <a href="suppliers.html" class="card-link text-dark">Become Supplier</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li class="text-md-center">
                            <a href="about.html" class="card-link text-dark">About Us</a>
                        </li>
                        <li class="text-md-center">
                            <a href="contact.html" class="card-link text-dark">Contact Us</a>
                        </li>
                        <li class="text-md-center">
                            <a href="career.html" class="card-link text-dark">Career</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li class="text-md-right">
                            <a href="terms-and-conditions.html" class="card-link text-dark">Terms & Conditions</a>
                        </li>
                        <li class="text-md-right">
                            <a href="privacy-policy.html" class="card-link text-dark">Privacy Policy</a>
                        </li>
                        <li class="text-md-right">
                            <a href="faq.html" class="card-link text-dark">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <a href="" class="card-link">
                            <img src="../content/icon/facebook.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/twitter.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/linkedin.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/youtube.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/pinterest.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center">All Rights Reserved © STOPIDO 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>