<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Stylesheet by https://anupammondal.in -->
  <link rel="stylesheet" href="../content/css/style.css">
  <title>Career At STOPIDO - Only Quality</title>
</head>

<body>
  <header>
    <div class="container px-sm-0">
      <nav class="navbar navbar-expand-lg navbar-light container px-sm-0">
        <a class="navbar-brand py-0" href="../">
          <img src="../content/photo/stopido_only_quality_brand_logo.png" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="partners.html">Become Partner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="suppliers.html">Become Supplier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="parallax">
      <div class="container-fluid">
          <div class="row bg-half-transparent">
              <div class="col-12">
                <div class="container pl-sm-0 mb-2">
                  <div class="row">
                    <div class="col-md-6 col-12 px-0 py-5">
                      <h1 class="ml-3 my-5">
                          <strong>Career at STOPIDO</strong>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </section>
  <section>
      <div class="container mb-5 pb-5">
          <div class="row">
              <div class="col-12 mb-5 pb-5">
                  <h2 class="h5 mt-3 pt-3">No current opennings</h2>
                  <hr>
              </div>
          </div>
      </div>
  </section>
  <footer class="bg-light pt-4">
    <div class="container">
      <div class="row my-5">
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li>
              <a href="../" class="card-link text-dark">Home</a>
            </li>
            <li>
              <a href="partners.html" class="card-link text-dark">Become Partner</a>
            </li>
            <li>
              <a href="suppliers.html" class="card-link text-dark">Become Supplier</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-center">
              <a href="about.html" class="card-link text-dark">About Us</a>
            </li>
            <li class="text-md-center">
              <a href="contact.html" class="card-link text-dark">Contact Us</a>
            </li>
            <li class="text-md-center">
              <a href="career.html" class="card-link text-dark">Career</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-right">
              <a href="terms-and-conditions.html" class="card-link text-dark">Terms & Conditions</a>
            </li>
            <li class="text-md-right">
              <a href="privacy-policy.html" class="card-link text-dark">Privacy Policy</a>
            </li>
            <li class="text-md-right">
              <a href="faq.html" class="card-link text-dark">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center mb-3">
            <a href="" class="card-link">
              <img src="../content/icon/facebook.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/twitter.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/linkedin.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/youtube.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/pinterest.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">All Rights Reserved © STOPIDO 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>