<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Stylesheet by https://anupammondal.in -->
  <link rel="stylesheet" href="../content/css/style.css">
  <title>STOPIDO Customer Profile - Only Quality</title>
</head>

<body>
  <header>
    <div class="container px-sm-0">
      <nav class="navbar navbar-expand-lg navbar-light container px-sm-0">
        <a class="navbar-brand py-0" href="../">
          <img src="../content/photo/stopido_only_quality_brand_logo.png" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="customer.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Anupam
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="customer_profile.html">Account Details</a>
                <a class="dropdown-item" href="orders.html">Order History</a>
                <a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="adresses.html">Adresses</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="customer.html">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="bg-stopido-half py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-4 px-sm-0">
          <img
            src="https://images.pexels.com/photos/4399040/pexels-photo-4399040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=200"
            alt="" class="img-fluid border border-light rounded-0 shadow p-1">
        </div>
        <div class="col-md-9 col-8 ">
          <h1 class="text-dark mt-5">
            <span>Anupam M</span>
            <small class="h5 text-stopido">
              <strong>Student</strong>
            </small>
          </h1>
          <p class="">
            <!-- <span>Category</span> <br> -->
            <a href="" class="btn btn-outline-light rounded-0 my-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              <span>4</span>
              Supplier Reviewd
            </a>
            <a href="" class="btn btn-outline-light rounded-0 my-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              <span>6</span>
              Partner Reviewd
            </a>
            <a href="" class="btn btn-outline-light rounded-0 my-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              <span>6</span>
              Product Reviewd
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5"></div>
      </div>
    </div>
  </section>
  <section class="fixed-bottom bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="nav justify-content-center my-3">
            <li class="nav-item">
              <a class="nav-link text-white" href="customer.html">
                <span class="h4">🍟</span>
                Namkeen & Snacks
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="customer.html">
                <span class="h4">🐮</span>
                Dairy Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="customer.html">
                <span class="h4">☕</span>
                Tea Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="customer.html">
                <span class="h4">🍯</span>
                Honey
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="customer.html">
                <span class="h4">🍪</span>
                Papad
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-light py-4 mb-5">
    <div class="container">
      <div class="row my-5">
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li>
              <a href="../" class="card-link text-dark">Home</a>
            </li>
            <li>
              <a href="partners.html" class="card-link text-dark">Become Partner</a>
            </li>
            <li>
              <a href="suppliers.html" class="card-link text-dark">Become Supplier</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-center">
              <a href="about.html" class="card-link text-dark">About Us</a>
            </li>
            <li class="text-md-center">
              <a href="contact.html" class="card-link text-dark">Contact Us</a>
            </li>
            <li class="text-md-center">
              <a href="career.html" class="card-link text-dark">Career</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-right">
              <a href="terms-and-conditions.html" class="card-link text-dark">Terms & Conditions</a>
            </li>
            <li class="text-md-right">
              <a href="privacy-policy.html" class="card-link text-dark">Privacy Policy</a>
            </li>
            <li class="text-md-right">
              <a href="faq.html" class="card-link text-dark">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center mb-3">
            <a href="" class="card-link">
              <img src="../content/icon/facebook.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/twitter.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/linkedin.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/youtube.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/pinterest.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">All Rights Reserved © STOPIDO 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>