<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Stylesheet by https://anupammondal.in -->
  <link rel="stylesheet" href="../content/css/style.css">

  <title>STOPIDO Partner - Only Quality</title>
</head>

<body>
  <header>
    <div class="container px-sm-0">
      <nav class="navbar navbar-expand-lg navbar-light container px-sm-0">
        <a class="navbar-brand py-0" href="../">
          <img src="../content/photo/stopido_only_quality_brand_logo.png" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="partners.html">Become Partner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="suppliers.html">Become Supplier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="parallax">
    <div class="container-fluid">
      <div class="row bg-half-transparent">
        <div class="col-12 mt-4 mb-5">
          <div class="text-center text-stopido mt-3">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-patch-question" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z" />
              <path fill-rule="evenodd"
                d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
            </svg>
          </div>
          <h2 class="text-center h3 my-4">Anyone can start digital business with STOPIDO</h2>
          <p class="text-center">
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Housewife
            </span>
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Retired person
            </span>
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Student
            </span>
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Teachers
            </span>
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Existing Retailers
            </span>
            <span class="btn btn-outline-dark m-2">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-briefcase" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z" />
                <path fill-rule="evenodd"
                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z" />
              </svg>
              Others
            </span>
          </p>
          <!-- <p class="card-text text-center mb-4">Want to know more about STOPIDO</p>
          <div class="text-center">
            <a href="partners.html" class="btn btn-dark shadow-none">Check here</a>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Start earning with STOPIDO</h2>
          <p class="text-center">with few simple steps</p>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="card border-dark my-2">
            <div class="text-center text-stopido mt-3">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z">
                </path>
              </svg>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Select</h5>
              <p class="card-text text-center"><br>Select the product of your interest.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="card border-dark my-2">
            <div class="text-center text-stopido mt-3">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
                </path>
              </svg>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Share</h5>
              <p class="card-text text-center">Share the product to your customer on WhatsApp, Facebook etc.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="card border-dark my-2">
            <div class="text-center text-stopido mt-3">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                </path>
              </svg>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Deliver</h5>
              <p class="card-text text-center"><br>The product is deliver to your confirmed order.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="card border-dark my-2">
            <div class="text-center text-stopido mt-3">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"></path>
                <path
                  d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z">
                </path>
              </svg>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Earn</h5>
              <p class="card-text text-center"><br>Earn retail margin on your sale.<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5">
          <h2 class="text-center">STOPIDO PARTNER</h2>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5318274/pexels-photo-5318274.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">M Srivani</h5>
              <p class="card-text text-center"><strong>Housewife</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5318271/pexels-photo-5318271.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">Awani Jain</h5>
              <p class="card-text text-center"><strong>Housewife</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5318272/pexels-photo-5318272.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">Sutapa Roy</h5>
              <p class="card-text text-center"><strong>Housewife</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5318273/pexels-photo-5318273.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">Tapswini Mahapatra</h5>
              <p class="card-text text-center"><strong>Housewife</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5318270/pexels-photo-5318270.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">Raj Kumar Jain</h5>
              <p class="card-text text-center"><strong>Retired Person</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card border-dark my-3 mx-4">
            <div class="text-center">
              <img
                src="https://images.pexels.com/photos/5323222/pexels-photo-5323222.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <div class="text-center card-i text-stopido mb-3">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z">
                  </path>
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z">
                  </path>
                </svg>
              </div>
              <h5 class="card-title text-center">Raj Kumar Jain</h5>
              <p class="card-text text-center"><strong>Retired Person</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">
            STOPIDO
            Partner Registration
          </h2>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="card border-0 my-3">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" placeholder="Enter your first name">
                </div>
                <div class="form-group">
                  <label for="">Middle Name</label>
                  <input type="text" class="form-control" placeholder="Enter your middle name">
                </div>
                <div class="form-group">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" placeholder="Enter your last name">
                </div>
                <div class="form-group">
                  <label for="">Mobile</label>
                  <input type="tel" class="form-control" placeholder="Your mobile number">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="card border-0 my-3">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" class="form-control" placeholder="Enter your email" required="">
                </div>
                <div class="form-group">
                  <label for="">Select City</label>
                  <select class="form-control" id="">
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    <option>Chennai</option>
                    <option>Kolkat</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Occupation</label>
                  <select class="form-control" id="">
                    <option>Housewife</option>
                    <option>Retired Person</option>
                    <option>Student</option>
                    <option>Teacher</option>
                    <option>Existing Retailer</option>
                    <option>Others</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">How Did You Know About STOPIDO?</label>
                  <select class="form-control" id="">
                    <option>Social Media</option>
                    <option>Referral & Friends</option>
                    <option>Others</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="text-uppercase btn btn-outline-dark px-5">Submit</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-light pt-4">
    <div class="container">
      <div class="row my-5">
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li>
              <a href="../" class="card-link text-dark">Home</a>
            </li>
            <li>
              <a href="partners.html" class="card-link text-dark">Become Partner</a>
            </li>
            <li>
              <a href="suppliers.html" class="card-link text-dark">Become Supplier</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-center">
              <a href="about.html" class="card-link text-dark">About Us</a>
            </li>
            <li class="text-md-center">
              <a href="contact.html" class="card-link text-dark">Contact Us</a>
            </li>
            <li class="text-md-center">
              <a href="career.html" class="card-link text-dark">Career</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul class="down-nav">
            <li class="text-md-right">
              <a href="terms-and-conditions.html" class="card-link text-dark">Terms & Conditions</a>
            </li>
            <li class="text-md-right">
              <a href="privacy-policy.html" class="card-link text-dark">Privacy Policy</a>
            </li>
            <li class="text-md-right">
              <a href="faq.html" class="card-link text-dark">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center mb-3">
            <a href="" class="card-link">
              <img src="../content/icon/facebook.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/twitter.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/linkedin.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/youtube.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/pinterest.png" alt="">
            </a>
            <a href="" class="card-link">
              <img src="../content/icon/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">All Rights Reserved © STOPIDO 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>