<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Stylesheet by https://anupammondal.in -->
    <link rel="stylesheet" href="../content/css/style.css">
    <title>STOPIDO Supplier Order - Only Quality</title>
</head>

<body>
    <header>
      <div class="container px-sm-0">
        <nav class="navbar navbar-expand-lg navbar-light container px-sm-0">
          <a class="navbar-brand py-0" href="../">
            <img src="../content/photo/stopido_only_quality_brand_logo.png" alt="" loading="lazy">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="supplier_orders.html">Order</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Tendril
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="supplier_profile.html">Account Details</a>
                  <a class="dropdown-item" href="#">Share</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section class="bg-stopido-half py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-4 px-sm-0">
            <img
              src="https://images.pexels.com/photos/5370585/pexels-photo-5370585.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=250"
              alt="" class="img-fluid rounded shadow bg-light p-1">
          </div>
          <div class="col-md-9 col-8 ">
            <h1 class="h2">Increase your sale with STOPIDO !!</h1>
            <h2 class="h2 text-stopido mt-1">
              <span class="text-uppercase">Tendril</span>
              <small class="h5 text-dark">
              <strong>Tea Products</strong>
            </small>
          </h2>
          <p class="">
            <!-- <span>Category</span> <br> -->
            <a href="" class="btn btn-outline-light my-2">Tea Products</a>
            <a href="" class="btn btn-outline-light my-2">Honey</a>
            <a href="" class="btn btn-outline-light my-2">Papad</a>
          </p>
          </div>
        </div>
      </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 my-5">
                    <p class="mb-0">
                        Order ID :
                        <span>#1000-1010-1212</span>
                    </p>
                    <p class="mb-0">
                        Order Placed on :
                        <span>09.09.2020</span>
                    </p>
                    <p class="mb-0">
                        Expected delivery Date :
                        <span>10.09.2020</span>
                    </p>
                    <p class="mb-0">
                        Actual delivery Date :
                        <span>10.09.2020</span>
                    </p>
                    <p class="mb-0">
                        Total Order Amount : ₹
                        <span>2000</span>
                    </p>
                    <p class="mb-0">
                        Mode of Payment :
                        <span>Online</span>
                    </p>
                    <p class="mb-0">
                        Commission Earned :
                        <span>100</span>
                    </p>
                </div>
                <div class="col-12 col-sm-6 my-5">
                    <p class="mb-0">
                        Customer Name :
                        <span>Anupam Mondal</span>
                    </p>
                    <p class="mb-0">
                        Customer Mobile :
                        <span>9474460058</span>
                    </p>
                    <p class="mb-0">
                        Customer Address :
                        <span><br>
                            Metiari, Protapnagar, Sonarpur <br>
                            RAJPUR SONARPUR <br>
                            WEST BENGAL 743330 <br>
                            India <br>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" rowspan="2" class="align-middle">#</th>
                                    <th scope="col" rowspan="2" class="align-middle">ID</th>
                                    <th scope="col" rowspan="2" class="align-middle">Items</th>
                                    <th scope="col" rowspan="2" class="align-middle">Quantity</th>
                                    <th scope="col" rowspan="2" class="align-middle">Rate</th>
                                    <th scope="col" rowspan="2" class="align-middle">Total</th>
                                    <th scope="col" colspan="2" class="text-center">Partner</th>
                                    <th scope="col" colspan="2" class="text-center">Commission</th>
                                </tr>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Percentage</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>#1001</td>
                                    <td>Nisarg Tea</td>
                                    <td>20</td>
                                    <td>65</td>
                                    <td>1300</td>
                                    <td>Tendril</td>
                                    <td>9999999999</td>
                                    <td>10</td>
                                    <td>130</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>#1002</td>
                                    <td>Classic Tea</td>
                                    <td>10</td>
                                    <td>65</td>
                                    <td>650</td>
                                    <td>Tendril</td>
                                    <td>9999999999</td>
                                    <td>10</td>
                                    <td>65</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card border-0 mb-2 bg-transparent">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="text-stopido px-3 py-4">
                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-phone"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z">
                                        </path>
                                        <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <p class="">
                                        <span class="h5">Call Us</span><br>
                                        <span class="">+91-9007010995</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card border-0 mb-2 bg-transparent">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <div class="text-stopido px-3 py-4">
                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-envelope"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <p class="">
                                        <span class="h5">Email</span><br>
                                        <span class="">contactstopido@gmail.com</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light pt-4">
        <div class="container">
            <div class="row my-5">
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li>
                            <a href="../" class="card-link text-dark">Home</a>
                        </li>
                        <li>
                            <a href="partners.html" class="card-link text-dark">Become Partner</a>
                        </li>
                        <li>
                            <a href="suppliers.html" class="card-link text-dark">Become Supplier</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li class="text-md-center">
                            <a href="about.html" class="card-link text-dark">About Us</a>
                        </li>
                        <li class="text-md-center">
                            <a href="contact.html" class="card-link text-dark">Contact Us</a>
                        </li>
                        <li class="text-md-center">
                            <a href="career.html" class="card-link text-dark">Career</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="down-nav">
                        <li class="text-md-right">
                            <a href="terms-and-conditions.html" class="card-link text-dark">Terms & Conditions</a>
                        </li>
                        <li class="text-md-right">
                            <a href="privacy-policy.html" class="card-link text-dark">Privacy Policy</a>
                        </li>
                        <li class="text-md-right">
                            <a href="faq.html" class="card-link text-dark">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <a href="" class="card-link">
                            <img src="../content/icon/facebook.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/twitter.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/linkedin.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/youtube.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/pinterest.png" alt="">
                        </a>
                        <a href="" class="card-link">
                            <img src="../content/icon/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center">All Rights Reserved © STOPIDO 2020</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>